@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
}

p{
    margin-bottom: 0;
}

span{
    font-size: 35px;
}

.logo{
    width: 100%;
    height: 7rem;
}

ul li{
    padding: 0 40px;
}

ul li a:hover{
    background-color: #333;
}

.nav-link{
    color: #fff !important;
}

.bienvenida{
    background-color: orange;
    text-align: center;
}

.carousel-caption{
    color: orange !important;
}

.carousel-item{
    height: 85vh !important;
    background-size: cover !important;
    background-position: center !important;
}

.redes a{
    font-size: 40px;
    color: orange;
    padding: 0 30px;
}

.nosotros{
    background-color: #fff;
}

.texto-nosotros{
    font-size: 20px;
    font-weight: bold;
}

.logo-mp{
    width: 90px;
    height: 100px;
}

.titulo-medios{
    font-weight: bold;
    font-size: 20px;
}

.row a{
    font-size: 70px;
    color: rgba(39, 39, 144, 0.794);
}

.redes2{
    font-size: 30px;
    letter-spacing: 25px;
}

form{
    background-color: hsla(40, 100%, 50%, 0.172);
    font-weight: bold;
}

form label{
    font-weight: bold !important;
}

footer{
    margin-top: auto;
}